.Jdl {
   background-color: black; 
   color: white; 
   line-height: 1.5em; 
    text-align: center;
}  
.btn {
	background-color: green; 
	border: none; 
	border-radius: 5px; 
	line-height: 1.5em; 
	color: white; 
}
.eh {
	word-spacing: 1em;
	text-decoration: none;
}
